@using HappyBakeryManagement.DTO
@model ProductDTO
@{
	Layout = "~/Views/Shared/_LayoutHome.cshtml";

}

<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2 text-center">
				<div class="breadcrumb-text">
					<p>Thế giới bánh ngọt</p>
					<h1>Chi tiết sản phẩm</h1>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end breadcrumb section -->

<!-- single product -->
<div class="single-product mt-150 mb-150">
	<div class="container">
		<div class="row">
			<div class="col-md-5">
				<div class="single-product-img">
					<img src="~/images/products/@Model.Image" alt="">
				</div>
			</div>
			<div class="col-md-7">
				<div class="single-product-content">
					<h3>@Model.Name</h3>
					<p class="single-product-pricing"><span>@Model.CategoryName</span> @String.Format("{0:N0}₫", Model.Price)</p>
					<p>@Model.Detail</p>
					<div class="single-product-form">
						<form asp-action="AddToCart" asp-controller="Cart" method="post" class="d-inline-flex align-items-center">
							@Html.AntiForgeryToken()
							<input type="hidden" name="id" value="@Model.Id" />
							<input type="number" name="quantity" value="1" min="1" class="mr-2" style="width: 80px; padding: 10px; border: 1px solid #ddd; border-radius: 5px;">
							<button type="submit" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</button>
						</form>
					</div>
					<h4>Đánh giá</h4>
					<a asp-controller="Evalute" asp-action="Add" asp-route-id="@Model.Id"> <p>Đánh giá sản phẩm</p></a>
					<br>
					<a asp-controller="Evalute" asp-action="Index" asp-route-id="@Model.Id"> <p>Xem các đánh giá của sản phẩm này</p></a>

					
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end single product -->